button:focus {
  outline: none;
}

button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

select:focus {
  outline: none;
}

select:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}
