@import "tailwindcss";

.editor-styles-wrapper {
  color: var(--color-black, #000);
  font-family: var(--font-body);
  font-size: var(--body-size);
  line-height: var(--leading-normal);
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: stretch;
  background-color: var(--color-white, #fff);

  .wp-block-post-title,
  .wp-block {
    max-width: 100% !important;

    a {
      text-decoration: none !important;
      pointer-events: none;
    }
  }

  .wp-block-post-title {
    padding-inline: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}